<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        PAF Library catalogue
      {% endblock %}
    </title>
  </head>

  <body>

    <div><!-- container div -->
      <header>
        <h1>XXX</h1>
      </header>
      <main>
        {% block content %}
          This is default content...
        {% endblock %}
      </main>
    </div><!-- end container -->

    <footer>
      <p>
        &copy; 2017
        Haydn Appleby and PAF
      </p>
    </footer>

  </body>

</html>
