<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        PAF Library catalogue
      {% endblock %}
    </title>
  </head>

  <body>

    <div><!-- container div -->
      <header>
        <h1>XXX</h1>
      </header>
      <nav>
        <ul>
          <li><a href="{% url 'blog_post_list' %}">
            Blog
          </a></li>
          <li><a href="{% url 'catalogue_tag_list' %}">
            Tags
          </a></li>
          <li><a href="{% url 'catalogue_author_list' %}">
            Authors
          </a></li>
          <li><a href="{% url 'catalogue_book_list' %}">
            Books
          </a></li>
      </ul>
      </nav>
      <main>
        {% block content %}
          This is default content...
        {% endblock %}
      </main>
    </div><!-- end container -->

    <footer>
      <p>
        &copy; 2017
        Haydn Appleby and PAF
      </p>
    </footer>

  </body>

</html>
