{% extends parent_template|default:"catalogue/catalogue_base.html" %}

{% block title %}
{{ block.super }} - Delete Book
{% endblock %}

{% block content %}

  <div>
    <div>
      <form action="{{ book.get_delete_url }}" method="post">
        {% csrf_token %}
        <p>Are you sure that you want to delete the book: {{ book.title }}?</p>
        <a href="{{ book.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Book</button>
      </form>
    </div>
  </div>

{% endblock %}
